* {
    .container-about {
        overflow-x: hidden;
        height: 100%;

        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 5fr 1fr;
        grid-template-areas: "astronaut about-text"
                            ". footer";
        .about {
            .about-text {
                //border: 1px black solid;
                margin: 50px 100px;
                
                grid-area: about-text;
                font-size: 17px;
                display: inline-block;
                .me {
                    float: right;
                    shape-outside: circle(50%);
                    shape-margin: 30px;
                    width: 200px;
                    height: 200px;
                    border-radius: 200px;
                    margin-top: 20px;

                }
            
            
            }                
        }
        
    
        .astronaut {
            //border: 1px black solid;
            grid-area: astronaut;

            justify-self: end;

            .astro-img {
                position: absolute;
                left: 5vw;
                top: 5vh;
                width: 40vw;

                z-index: 9;
            }
        }
    
        .footer {
            //border: 1px black solid;
    
            grid-area: footer;
        }
         /* Small screens */
         @media only screen and (min-width: 0px) and (max-width: 767px) {
            //background-color: green;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr 1fr;
            grid-template-areas: "astronaut"
                                "about-text"
                                "footer";
            .about {
                .about-text {
                    
                    .me {
                        float: none;
                        width: 100px;
                        height: 100px;
                        border-radius: 100px;
                        margin-top: 0;
    
                    }
                
                
                }                
            }
        
            .astronaut {
                //border: 1px black solid;
                grid-area: astronaut;
                //align-self: center;
                justify-self: center;

                .astro-img {
                    position: relative;
                    left: 0vw;
                    top: 1vh;
                    width: 60vw;

                    z-index: 9;
                }
            }
        
            .footer {
                //border: 1px black solid;
        
                grid-area: footer;
            }
        }

        /* Medium screens */
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "astronaut about-text"
                                ". footer";
           
            .astronaut {
                //border: 1px black solid;
                grid-area: astronaut;

                justify-self: end;

                .astro-img {
                    position: absolute;
                    left: 5vw;
                    top: 5vh;
                    width: 40vw;

                    z-index: 9;
                }
            }
        
            .footer {
                //border: 1px black solid;
        
                grid-area: footer;
            }
        }
        
        /* Big screens */
        @media only screen and (min-width: 1024px) {

            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 5fr 1fr;
            grid-template-areas: "astronaut about-text"
                                ". footer";
            
        
            .astronaut {
                //border: 1px black solid;
                grid-area: astronaut;

                justify-self: end;

                .astro-img {
                    position: absolute;
                    left: 5vw;
                    top: 5vh;
                    width: 40vw;

                    z-index: 9;
                }
            }
            .about {
                .about-text {
                    //border: 1px black solid;
                    margin: 50px 100px;
                    
                    grid-area: about-text;
                    font-size: 20px;
                    line-height: 25px;
                    display: inline-block;
                    .me {
                        float: right;
                        shape-outside: circle(50%);
                        shape-margin: 30px;
                        width: 200px;
                        height: 200px;
                        border-radius: 200px;
                        margin-top: 20px;
    
                    }
                
                
                }                
            }
        
            .footer {
                //border: 1px black solid;
        
                grid-area: footer;
            }
        }
    }
}